<div mdbModal #frame="mdbModal" class="modal fade left" id="selectLocationModal" role="dialog" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Drag the Pin to Select Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <agm-map
          [latitude]="startingLat"
          [longitude]="startingLong"
          [zoom]="15"
          class="gmap"
          [disableDefaultUI]="false">

          <agm-marker
            [latitude]="startingLat"
            [longitude]="startingLong"
            [label]="'A'"
            (dragEnd)="onMarkerDragEnd($event)"
            [markerDraggable]=true
          >
          </agm-marker>

        </agm-map>
      </div>

      <div class="modal-footer">
        <div class="float-left mr-6">
          [{{selectedLat | number: '1.0-5'}}, {{selectedLong | number: '1.0-5'}}]
        </div>
        <button mdbBtn mdbWavesEffect
                (click)="onLocationSelected()"
                color="default">
          Select Location
        </button>
      </div>
    </div>
  </div>
</div>
