<header>
  <nav class="navbar blue-grey navbar-dark navbar-expand-md">
    <a class="navbar-brand" href="#">
      Local Search
    </a>
  </nav>
</header>
<main>
  <app-search-widget></app-search-widget>
</main>
<footer>
</footer>
