<div class="results-map">
  <agm-map
    class="gmap"
    [latitude]="queryLocation.lat"
    [longitude]="queryLocation.lng"
    [minZoom]="12"
    [disableDefaultUI]="false">
    <agm-marker
      [latitude]="queryLocation.lat"
      [longitude]="queryLocation.lng"
      [label]="'Me'"
    >
    </agm-marker>

    <agm-marker *ngFor="let result of results"
                [latitude]="result.business.location.lat"
                [longitude]="result.business.location.lng"
                [markerDraggable]="false"
                (markerClick)="currentPin = results.indexOf(result)"
                [label]="(results.indexOf(result) + 1).toString()">
      <agm-info-window
        [isOpen]="currentPin === results.indexOf(result)"
        [latitude]="result.business.location.lat"
        [longitude]="result.business.location.lng">
        <div class="pin-info-row">
          <span class="pin-info-title">{{result.business.name}}</span>
          <span class="float-right">{{result.distance | distance}}</span>
        </div>
        <div class="pin-info-row">
          {{result.business.address}}<span *ngIf="result.business.address">,</span> Las Vegas, NV, {{result.business.postalCode}}
          <button mdbBtn mdbWavesEffect color="primary"
                  (click)="onNavigateClick(result)"
                  class="p-2 m-1 float-right">
            <i class="fas fa-road"></i>
          </button>
        </div>
        <div class="pin-info-row">
          <app-star-rating [rating]="result.business.stars" *ngIf="result.business.stars"></app-star-rating>
          ({{result.business.reviewCount}} Reviews)
        </div>
        <div class="pin-info-row">
          <i class="fas fa-wifi blue-text attrib-icon" mdbTooltip="Free Wi-Fi" placement="top" *ngIf="result.business.wifi"></i>
          <i class="fas fa-users orange-text attrib-icon" mdbTooltip="Good for Groups!" placement="top" *ngIf="result.business.goodForGroups"></i>
          <i class="fas fa-sign-out-alt green-text attrib-icon" mdbTooltip="Take-Out Available" placement="top" *ngIf="result.business.takeOut"></i>
        </div>
        <!-- col with price range -->
        <div class="pin-info-row">
          <div *ngIf="result.business.priceRange">
            <i class="fas fa-dollar-sign red-text" *ngFor="let i of [].constructor(result.business.priceRange)"></i>
          </div>
        </div>
        <div class="pin-info-row mt-1">
          <span *ngFor="let category of result.categories" class="category">{{category}}</span>
        </div>

      </agm-info-window>
    </agm-marker>

    <agm-polyline [strokeColor]="'red'" *ngIf="path">
      <agm-polyline-point *ngFor="let rn of path" [latitude]="rn.lat" [longitude]="rn.lng">
      </agm-polyline-point>
    </agm-polyline>

  </agm-map>

</div>
