.gmap {
  width: 100%;
  height: 600px;
}

span.pin-info-title {
  font-weight: bold;
  font-size: large;
}

.attrib-icon {
  margin: 3px;
}

div.pin-info-row {
  margin: 2px;
}

span.category {
  border-radius: 10px;
  background: rgba(135, 206, 250, 0.35);
  font-size: small;
  margin: 3px;
  padding: 3px;
}
