.location-input {
  border: lightgray 1px solid;
}

.search-control-col {
  padding-top: 7px;
}

.stars-slider {
  padding-top: 20px;
  border: 0;
}

.distance-slider {
  padding-top: 20px;
  border: 0;
}
