<div class="card">
  <div class="card-header">
    <b>Search Criteria</b>
  </div>

  <div class="card-body row">

    <div class="col-md-2 location-input search-control-col">
      <div class="m-0 p-0 md-form">
        <input type="number" id="search-latitude" [formControl]="latitude" class="form-control"
               mdbInput mdbValidate>
        <label for="search-latitude">Latitude</label>
      </div>

      <div class="m-0 p-0 md-form">
        <input type="number" id="search-longitude" [formControl]="longitude" class="form-control"
               mdbInput mdbValidate>
        <label for="search-longitude">Longitude</label>
      </div>

      <button mdbBtn mdbWavesEffect color="secondary" rounded="true"
              (click)="onSelectLocationClick()"
              class="p-1 m-0 float-right">
        Select on Map&nbsp;<i class="fas fa-map-marker-alt"></i>
      </button>
    </div>

    <!-- Central Div with Name Search Box  -->
    <div class="col-md-6 search-control-col">
      <div class="m-0 p-0 md-form">
        <input type="text" id="search-name" [formControl]="name" class="form-control"
               mdbInput mdbValidate>
        <label for="search-name">Name</label>
      </div>

      <div>
        <fieldset class="form-inline">
          <div class="form-group">
            <label for="typeahead-http">Category:</label>
            <input id="typeahead-http" type="text" class="form-control mx-sm-3"
                   [class.is-invalid]="categorySearchFailed"
                   [formControl]="category"
                   [ngbTypeahead]="categorySearch" placeholder="Search" />
            <small *ngIf="searchingCategory" class="form-text text-muted">searching...</small>
            <div class="invalid-feedback" *ngIf="categorySearchFailed">Sorry, suggestions could not be loaded.</div>
          </div>
        </fieldset>
      </div>

      <div class="selections mt-4 d-flex">
        <div class="custom-control custom-checkbox mr-3">
          <input type="checkbox" class="custom-control-input" id="takeOut" [formControl]="takeOut">
          <label class="custom-control-label" for="takeOut"><i>Take Out</i></label>
        </div>

        <div class="custom-control custom-checkbox mr-3">
          <input type="checkbox" class="custom-control-input" id="wifi" [formControl]="wifi">
          <label class="custom-control-label" for="wifi"><i>Free Wi-Fi</i></label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="gfGroups" [formControl]="gfGroups">
          <label class="custom-control-label" for="gfGroups"><i>Good for Groups</i></label>
        </div>
      </div>
    </div>

    <!-- Checkboxes for price range -->
    <div class="col-md-2 search-control-col">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="fivedollar" [formControl]="fiveDollars">
        <label class="custom-control-label" for="fivedollar">$$$$$</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="fourdollar" [formControl]="fourDollars">
        <label class="custom-control-label" for="fourdollar">$$$$</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="threedollar" [formControl]="threeDollars">
        <label class="custom-control-label" for="threedollar">$$$</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="twodollar" [formControl]="twoDollars">
        <label class="custom-control-label" for="twodollar">$$</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="onedollar" [formControl]="oneDollars">
        <label class="custom-control-label" for="onedollar">$</label>
      </div>
    </div>

    <div class="col-md-2 search-control-col">
      <div class="m-0 p-0 md-form">
        <label for="search-stars" class="stars-label">
          Min. Rating&nbsp;
          <app-star-rating [rating]="validatingForm.get('stars').value"></app-star-rating>
        </label>
        <input type="range" id="search-stars" [formControl]="stars"
               class="custom-range form-control stars-slider"
               min="0" max="5" step="0.5"
               mdbInput mdbValidate>
      </div>

      <div class="m-0 p-0 mt-4 md-form">
        <label for="search-distance" class="distance-label">
          Max. Distance:&nbsp;{{validatingForm.get('distance').value}} Mi.
        </label>
        <input type="range" id="search-distance" [formControl]="distance"
               class="custom-range form-control distance-slider"
               min="1" max="25" step="1"
               mdbInput mdbValidate>
      </div>

      <div class="md-form m-0">
        <mat-form-field>
          <mat-label><small>Sort By</small></mat-label>
          <mat-select [(value)]="sortingMethod">
            <mat-option>None</mat-option>
            <mat-option value="rating">Rating</mat-option>
            <mat-option value="reviews">Reviews</mat-option>
            <mat-option value="distance">Distance</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button mdbBtn mdbWavesEffect color="default"
            (click)="onSearchButtonClick()"
            rounded="true">
      <i class="fas fa-search"></i>&nbsp;
      Search
    </button>
  </div>
</div>
<app-select-location-modal
  (locationSelected)="onLocationSelected($event)"
    #selectLocationModal>
</app-select-location-modal>
