<div class="m-1">
  <ngb-tabset *ngIf="hasResults" #tabSet>
    <ngb-tab title="View as List">
      <ng-template ngbTabContent>
        <app-results-list (navigateClicked)="onNavigateClicked($event)"></app-results-list>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="View on Map" id="map-results">
      <ng-template ngbTabContent>
        <app-results-map (navigateResult)="onNavigateClicked($event)"></app-results-map>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
