<i class="fas fa-star orange-text" *ngFor="let i of [].constructor(getFullStars())"></i>
<i class="fas fa-star-half-alt orange-text" *ngIf="hasHalfStar()"></i>
<i class="far fa-star orange-text" *ngFor="let i of [].constructor(getEmptyStars())"></i>
