div.result {
  border: 1px solid lightgray;
}

span.title {
  font-weight: bold;
  color: dodgerblue;
}

span.rating {
  color: darkgray;
}

i.attrib-icon {
  margin: 3px;
}

span.category {
  border-radius: 10px;
  background: rgba(135, 206, 250, 0.35);
  font-size: small;
  margin: 3px;
  padding: 3px;
}
