<div class="row m-1 p-1 result">
  <!-- Column with basic info. -->
  <div class="col-md-8">
    <div class="title-row">
      <span class="title">{{result.business.name}}</span>
      <span class="rating ml-2">
        <app-star-rating [rating]="result.business.stars" *ngIf="result.business.stars"></app-star-rating>
        ({{result.business.reviewCount}} Reviews)
      </span>
    </div>
    <div class="location-row">
      {{result.business.address}}<span *ngIf="result.business.address">,</span> Las Vegas, NV, {{result.business.postalCode}}
    </div>
    <div class="category-row">
      <span *ngFor="let category of result.categories" class="category">{{category}}</span>
    </div>
  </div>
  <!-- col with attributes -->
  <div class="col-md-1">
    <i class="fas fa-wifi blue-text attrib-icon" mdbTooltip="Free Wi-Fi" placement="top" *ngIf="result.business.wifi"></i>
    <i class="fas fa-users orange-text attrib-icon" mdbTooltip="Good for Groups!" placement="top" *ngIf="result.business.goodForGroups"></i>
    <i class="fas fa-sign-out-alt green-text attrib-icon" mdbTooltip="Take-Out Available" placement="top" *ngIf="result.business.takeOut"></i>
  </div>
  <!-- col with price range -->
  <div class="col-md-1">
    <div *ngIf="result.business.priceRange">
      <i class="fas fa-dollar-sign red-text" *ngFor="let i of [].constructor(result.business.priceRange)"></i>
    </div>
  </div>
  <!-- col with distance -->
  <div class="col-md-1">
    {{result.distance | distance}}
  </div>
  <!-- div with navigate button -->
  <div class="col-md-1">
    <button mdbBtn mdbWavesEffect color="primary"
            (click)="onNavigateClick()"
            class="p-2 m-1">
      <i class="fas fa-road fa-2x"></i>
    </button>
  </div>
</div>
